html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;;
  min-height: 100%;
  background: #d3d3d3;
}

[data-bs-theme="dark"] body {
  background: #212529;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  margin-top: auto;
  line-height: 14px;
  background-color: hsl(0, 0%, 96%);
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

[data-bs-theme="dark"] .footer {
  background-color: hsl(0, 0%, 10%);
}

.qso-area {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
}

.qsoList {
  height: 440px;
  background: white;
}

[data-bs-theme="dark"] .qsoList {
  background: #1a1d20;
}

table {
  width: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}
tbody {
  overflow-y: scroll;
  max-height: 380px;
  position: absolute;
}
thead tr {
  background-color: #a9a9a9;
  color: #000;
}

[data-bs-theme="dark"] thead tr {
  background-color: #495057;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

[data-bs-theme="dark"] tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

[data-bs-theme="dark"] tbody tr:nth-child(odd) {
  background-color: #1a1d20;
}

[data-bs-theme="dark"] tbody tr {
  color: #dee2e6;
}
@media (min-width: 1200px) {
  .input-example {
    font-size: x-small;
  }
  label {
    font-size: small;
  }
}

li.nav-item {
    margin-right: 10px;
}


